<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FILMS</title>
</head>
<body>
<div align="center">
<p>Here you can see all of our films</p>
<table th:object="${films}" id="allFilms" border="1">
    <tr>
        <th>TITLE</th>
        <th>ID</th>
        <th>YEAR</th>
        <th>CATEGORY</th>
    </tr>
    <tr th:each="film :${films}">
        <td  th:text="${film.getTitle()}"
             style="cursor: pointer"
             th:onclick="'window.location.href=\'/reviews/add/' + ${film.getId()} + '/'+'\''"></td>
        <td  th:text="${film.getId()}"></td>
        <td  th:text="${film.getYear()}"></td>
        <td  th:text="${film.getCategory()}"></td>
    </tr>
</table>
    <p>Click <a th:href="@{/films/add/}">here</a> to add a new film.</p>

</div>

</body>
</html>