<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FILMS</title>
</head>
<body>
<p>Here you can see all of our films</p>
<table th:object="${films}" id="allFilms" border="1">
    <tr>
        <th>TITLE</th>
        <th>YEAR</th>
        <th>CATEGORY</th>
    </tr>
    <tr th:each="film :${films}">
        <td  th:text="${film.getTitle()}"></td>
        <td  th:text="${film.getYear()}"></td>
        <td  th:text="${film.getCategory()}"
             <!--style="cursor: pointer"-->
             <!--th:data1="${film.getCategory()}"-->
             <!--th:onclick="'window.location.href=\'/films/' + ${data1} + '/'+'\''"-->
        ></td>
    </tr>
</table>
<p>Find films by categories</p>
<table th:object="${categories}" id="categories" border="1">
    <div th:if="${error}">
        No categories found.
    </div>
    <tr th:each="item :${categories}">
        <td  th:text="${item}"></td>
    </tr>
</table>
</body>
</html>